.bg-industry{
    background: url(/assets/images/new_asset/industri/industry__19574.jpg) center/cover no-repeat;
    padding-top: 25rem;
    padding-bottom: 5rem;
    margin-top: 65px;
    position: relative;
    z-index: 10;
    border-radius: 0 0 4rem 4rem;
    object-fit: cover;
  }

  .bg-aplikasi__pelumas {
    background: url(/assets/images/new_asset/Aplikasi_pelumas/image\ 200.jpg) center/cover no-repeat;
    padding-top: 25rem;
    padding-bottom: 5rem;
    margin-top: 65px;
    position: relative;
    z-index: 10;
    border-radius: 0 0 4rem 4rem;
  }

  .bg-prod__marine {
    background: url(/assets/images/new_asset/Produk_marine/image\ 200.jpg) center/cover no-repeat;
    padding-top: 25rem;
    padding-bottom: 5rem;
    margin-top: 65px;
    position: relative;
    z-index: 10;
    border-radius: 0 0 4rem 4rem;
  }

  .card___indust img{
    border-radius: 15px;
    object-fit: cover;
    width: 100%;
    height: 280px
}

.card___indust h3{
    position: relative;
    display: block;
    bottom: 3rem;
    left: 1rem;
}

.text__small{
    font-weight: 300;
}

.bg___indust{
    background-color:  #DF0D1B;;
}

.No___indust{
    font-size: 20px;
    font-weight: 600;
    border: 1px solid white;
    width: 50px;
    height: 50px;
    border-radius: 100px;
    text-align: center;
    display: block;
    margin: 10px;
    padding: 10px;
}

.thumb img{
    border-radius: 15px;

}

.text__default{
    font-size: 25px;
    font-weight: 300;
    line-height: 1.5;
}

.btn___default_bg__white{
    background: #DF0D1B;
    padding: 5px 20px;
    border-radius: 20px;
    font-size: 13px;
    font-weight: 600;
    color: white;
    position: relative;
    border: 1px solid #ffffff57;
    top: 4px;
    text-decoration: none;
}

/* slide image gallery */
#active-img {
    opacity: 1;
  }
  
  .listing-gallery img {
    cursor: pointer;
  }
  
  .listing-gallery-img-lg,
  .listing-gallery-img-sm {
    border: 5px solid white;
  }
  
  .listing-gallery-img-lg {
    height: 600px;
    overflow: hidden;
  }
  
  .listing-gallery-img-sm {
    height: 200px;
    overflow: hidden;
  }
  
  .listing-gallery-img {
    opacity: 0.6;
    transition: 0.2s all;
  }
  
  .listing-gallery-img.selected {
    opacity: 1;
    transition: 0.2s all;
  }
  
  .responsive-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }

  .title__mobile_text {
    font-size: 25px;
    line-height: 1.5;
    font-weight: 300;
}

.text___bold{
    font-weight: bold;
}
/* batas */

@media (min-width: 576px) { 
    .title__mobile_text {
        font-size: 25px;
        line-height: 1.5;
    }
 }


 /* batas amcanegara */
 .bg-mcgra{
  background: url(/assets/images/new_asset/mancanegara/mancanegara.jpg) center/cover no-repeat;
  padding-top: 30rem;
  padding-bottom: 5rem;
  margin-top: 55px;
  position: relative;
  z-index: 10;
  border-radius: 0 0 4rem 4rem;
  object-fit: cover;
}

.card__title-mcgra h2{
color: grey;
}

.card__title-mcgra span{
  color: #DF0D1B;
}

.card__title-mcgra{
 position: relative;
 display: inline-grid;
 padding: 2rem;
 bottom: 20rem;
 backdrop-filter: blur(8px) saturate(166%);
 -webkit-backdrop-filter: blur(8px) saturate(166%);
 background-color: rgba(255, 255, 255, 0.44);
 border-radius: 12px;
 border: 1px solid rgba(209, 213, 219, 0.3);
}

.drop-down{
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgb(237, 237, 237);
  box-shadow: 0 4px 8px rgb(0,0,0,0,.322);
  width: 200px;
  padding: 0.5rem 1rem;
  cursor: pointer;
  border-radius: 50px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
}

.arrow{
  font-size: 30px;
}

.wrapper{
  display: flex;
  gap: 0.5rem;
  align-items: center;
}

.wrapper img{
  height: 30px;
}

.list{
  background-color: rgb(237, 237, 237);
  position: absolute;
  top: 60px;
  left: 0;
  border-radius: 20px;
  cursor: pointer;
  max-height: 250px;
  /* overflow-y: scroll; */
  width: 100%;
  z-index: 99;
  width: 100%;
  display: none;
  padding: 0;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}

.show{
  display: block;
}

.item{
  display: flex;
  align-items: center;
  padding: 0.5rem 16px;
  gap: 0.5rem;
}

.item img{
  width: 30px;
}

.item:hover{
  background-color: rgb(210, 210, 210);
}

.title__option{
  font-weight: 600;
  font-size: 20px;
  padding-bottom: 10px;
  position: relative;
left: 8px
}

.bg__Red__Full{
  background: #DF0D1B;
  position: relative;
    top: -4rem;
}

.wrapper i.fas {
  font-size: 20px;
}




.card__img__AllSlider h3{
  position: absolute;
    z-index: 99;
    top: 2rem;
    font-size: 20px;
    color: white;
    text-align: center;
    margin: 20px;
}

.card__img__AllSlider img{
  border-radius: 30px;
}

.btn__mncgra__Slider{
  background: #DF0D1B;
    padding: 5px 20px;
    border-radius: 20px;
    font-size: 13px;
    font-weight: 600;
    color: white;
    position: relative;
    border: 1px solid #ffffff57;
    top: 4px;
    text-decoration: none;
    position: relative;
    top: -4rem;
}

.btn__mncgra__Slider:hover{
  background-color: white;
  color: #DF0D1B;
}

.title__link__{
  color: black;
  margin-top: 10px;
  text-decoration: none;
}

@media (min-width: 768px) { 
  section.pt-50.pb-30.special__margin {
    margin-top: 15rem;
}
  }