.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    z-index: 33;
    display: flex;
    align-items: center;
    justify-content: space-between;

}


.animate-item {
    transition: all .3s;
}

.background-image {
    position: absolute;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    z-index: 1;
}

.background-image:before {
    /* content: ''; */
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    background-color: rgba(255, 255, 255, .6);
    height: 100vh;
    backdrop-filter: blur(100px);
    z-index: 11;
}

.background-image img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    transition: all .3s;
}


.swiper-slide-active {
    justify-content: center;
}

.swiper-slide-active .product {
    opacity: 1;
}

.swiper-slide-next .product {
    /* margin-left: -15%; */
    filter: blur(7px);
}

.swiper-slide-next .product__content {
    opacity: 0;
    transform: scale(1.2);
    transition: all .3s;
}

.swiper-slide-next .product__banner {
    box-shadow: none;
}

.swiper-slide-prev .product {
    opacity: 1;
    filter: blur(10px);
}

.swiper-slide {
    position: relative;

    display: flex;
    align-items: center;
}




.product__content {


    position: absolute;
    top: -5rem;
    left: -18rem;
    width: 71rem;
    /* height: 100%; */
    transform: translateZ(63px);
    z-index: -5;
}

.product__base {
    position: absolute;
    z-index: 1;
    top: 23rem;
}

.product__banner {
    width: 100%;
    height: 100%;
    padding: 20px;
}

.product__banner img {
    /* width: 100%;
    height: 80%;
    object-fit: contain; */

    width: 50%;
    /* height: 80%; */
    object-fit: contain;
    left: 0;
    right: 0;
    margin: auto;
    display: block;
}

.swiper-pagination.swiper-pagination-bullets.swiper-pagination-horizontal.swiper-pagination-bullets-dynamic {
    top: 37rem;
}




@media screen and (max-width: 992px) {
    .swiper-slide-next .product {
        margin-left: unset;
        opacity: 0;
    }
}

@media screen and (max-width: 576px) {
    .swiper-slide {
        perspective: none;
        width: auto;
        padding: 20px;
    }

    .swiper-wrapper {
        width: 100%;
    }

    .product {
        width: 100%;
        height: auto;
        border-radius: 20px;
    }

    .product__content {
        position: relative;
        transform: translateZ(0px);
        height: 100px;
        width: calc(100% - 40px);
        margin-left: 20px;
    }

    .product__banner {
        padding: 12px;
        border-radius: 20px;
        height: 320px;
    }

  


    .background-image img {
        object-fit: cover;
    }
}




/* text */
.product-name {
    position: absolute;
    top: 12rem;
    z-index: 9;
}



@media (min-width: 320px) { 
    .product__content {
        position: absolute;
        top: 2rem;
        left: 0;
        right: 0;
        margin: auto;
        width: 100%;
        z-index: 5;
    }
    .product__banner {
        margin-top: 4rem;
    }
    .product-name {
        position: absolute;
        top: 5rem;
        z-index: 9;
        text-align: center;
        font-size: 25px;
    }
    .product__base {
        position: absolute;
        z-index: 1;
        top: 16rem;
    }
    .swiper-pagination.swiper-pagination-bullets.swiper-pagination-horizontal.swiper-pagination-bullets-dynamic {
        top: 22rem;
    }
    .product__banner img {
        width: 100%;
        height: 100%;
        object-fit: contain;
        left: 0;
        right: 0;
        margin: auto;
        display: block;
    }
 }


@media (min-width: 768px) { 
    .product__content {
        position: absolute;
        top: 4rem;
        left: 0;
        right: 0;
        margin: auto;
        width: 100%;
        z-index: 5;
    }
    .product__banner {
        margin-top: 10rem;
    }
    .product-name {
        position: absolute;
        top: 8rem;
        z-index: 9;
        text-align: center;
        font-size: 50px;
    }
    .product__base {
        position: absolute;
        z-index: 1;
        top: 33rem;
    }
    .swiper-pagination.swiper-pagination-bullets.swiper-pagination-horizontal.swiper-pagination-bullets-dynamic {
        top: 43rem;
    }
 }

@media screen and (min-width: 1200px)   {
    .product__content {
        position: absolute;
        top: 2rem;
        left: 0;
        right: 0;
        margin: auto;
        width:70%;
        z-index: 5;
    }
    .product__banner {
        margin-top: 10rem;
    }
    .product-name {
        position: absolute;
        top: 8rem;
        z-index: 9;
        text-align: center;
        font-size: 50px;
    }
    .product__base {
        position: absolute;
        z-index: 1;
        top: 17rem;
    }
    .swiper-pagination.swiper-pagination-bullets.swiper-pagination-horizontal.swiper-pagination-bullets-dynamic {
        top: 38rem;
    }
    .product__banner img {
        width: 50%;
        height: 100%;
        object-fit: contain;
        left: 0;
        right: 0;
        margin: auto;
        display: block;
    }
}

@media screen and (min-width: 1440px)   {
    .product__content {
        position: absolute;
        top: -1rem;
        left: 0;
        right: 0;
        margin: auto;
        width: 80%;
        z-index: 5;
    }
    .product__banner {
        margin-top: 15rem;
    }
    .product-name {
        position: absolute;
        top: 13rem;
        z-index: 9;
        text-align: center;
        font-size: 50px;
    }
    .product__base {
        position: absolute;
        z-index: 1;
        top: 33rem;
    }
    .swiper-pagination.swiper-pagination-bullets.swiper-pagination-horizontal.swiper-pagination-bullets-dynamic {
        top: 45rem;
    }
    .product__banner img {
        width: 50%;
        height: 100%;
        object-fit: contain;
        left: 0;
        right: 0;
        margin: auto;
        display: block;
    }

}

@media screen and (min-width: 1728px)   {
    .product__content {
        position: absolute;
        top: -1rem;
        left: 0;
        right: 0;
        margin: auto;
        width: 80%;
        z-index: 5;
    }
    .product__banner {
        margin-top: 17rem;
    }
    .product-name {
        position: absolute;
        top: 13rem;
        z-index: 9;
        text-align: center;
        font-size: 50px;
    }
    .product__base {
        position: absolute;
        z-index: 1;
        top: 33rem;
    }
    .swiper-pagination.swiper-pagination-bullets.swiper-pagination-horizontal.swiper-pagination-bullets-dynamic {
        top: 50rem;
    }
    .product__banner img {
        width: 50%;
        height: 100%;
        object-fit: contain;
        left: 0;
        right: 0;
        margin: auto;
        display: block;
    }

}

@media screen and (min-width: 1920px)   {
    .product__content {
        position: absolute;
        top: -1rem;
        left: 0;
        right: 0;
        margin: auto;
        width: 70%;
        z-index: 5;
    }
    .product__banner {
        margin-top: 18rem;
    }
    .product-name {
        position: absolute;
        top: 13rem;
        z-index: 9;
        text-align: center;
        font-size: 50px;
    }
    .product__base {
        position: absolute;
        z-index: 1;
        top: 33rem;
    }
    .swiper-pagination.swiper-pagination-bullets.swiper-pagination-horizontal.swiper-pagination-bullets-dynamic {
        top: 50rem;
    }
    .product__banner img {
        width: 50%;
        height: 100%;
        object-fit: contain;
        left: 0;
        right: 0;
        margin: auto;
        display: block;
    }

}

@media screen and (min-width: 2048px) {
    .product__content {
        position: absolute;
        top: -1rem;
        left: 0;
        right: 0;
        margin: auto;
        width: 75%;
        z-index: -5;
}
    .product__banner {
        margin-top: 19rem;
    }
    .product-name {
        position: absolute;
        top: 13rem;
        z-index: 9;
        text-align: center;
        font-size: 50px;
    }
    .product__base {
        position: absolute;
        z-index: 1;
        top: 33rem;
    }
    .swiper-pagination.swiper-pagination-bullets.swiper-pagination-horizontal.swiper-pagination-bullets-dynamic {
        top: 50rem;
    }
    .product__banner img {
        width: 50%;
        height: 100%;
        object-fit: contain;
        left: 0;
        right: 0;
        margin: auto;
        display: block;
    }
}

.video-popup-partnership {
    position: absolute;
    top: 50%;
    left: 75%;
    transform: translate(-50%, -50%);
}

/* =========== */

.main-container{
    position: relative;
}

.tab-menu{
    color: white;
    list-style: none;
    background-color: red;
    max-width: 800px;
    
}