:root {
    --first-color: #2e2e41;
    --second-color: #5b85ff;
    --third-color: #434354;
    --text-color: #000000;
}

  
  /* ===== Tab navigation content ===== */

  
  .tab-navigation {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: fit-content;
    margin: 0 auto;
  }
  
  .tab-menu {
    color: var(--text-color);
    list-style: none;
    max-width: 800px;
    padding: 10px;
    white-space: nowrap;
    box-shadow: var(--box-shadow);
    scroll-behavior: smooth;
  
    user-select: none;
    overflow-x: auto;
  }
  
  .tab-menu.dragging {
    scroll-behavior: unset;
    cursor: grab;
  }
  
  .tab-menu::-webkit-scrollbar {
    display: none;
  }
  
  .tab-btn {
    display: inline-block;
    color: var(--text-color);
    font-weight: 400;
    margin: 0 2px;
    padding: 10px;
    border-radius: 20px;
    cursor: pointer;
    user-select: none;
    transition: background-color 0.3s ease;
    width: 25%;
   
}
  
  .tab-menu.dragging .tab-btn {
    pointer-events: none;
  }
  
  .tab-btn:hover {
    border: 1px solid grey;
  }
  
  .tab-btn.active {
    border: 1px solid grey;
  }
  
  .left-btn,
  .right-btn {
    position: absolute;
    font-size: 1.8em;
    padding: 10px;
    cursor: pointer;
  }
  
  .left-btn {
    left: 0;
    display: none;
  }
  
  .right-btn {
    right: 0;
  }
  
  /* ===== Tab content ===== */
  .tab-content {
    position: relative;
    display: flex;
    justify-content: center;
    width: 100%;
  }
  
  .tab {
    position: absolute;
    top: 0;
    right: auto;
    bottom: 0;
    left: auto;
    max-width: 1100px;
    opacity: 0;
  
    transform: translateX(25px);
    content-visibility: hidden;
  }
  
  .tab.active {
    transform: translateX(0);
    content-visibility: visible;
    opacity: 1;
    transition: opacity 1s ease, transform 1s ease;
  }

  .info .city {
    font-size: 2em;
  }

  .tbh-top{
    margin-top: 35rem;
  }
  

  
  /* ===== Media queries (max-width: 1050px;) ===== */
  @media screen and (max-width: 1050px) {
    section {
      margin: 0 0;
    }
  
   
  
    .tab .row {
      flex-direction: column;
    }
  
  }
  